@function get-color($color) {
    @return map-get($palette, $color);
}

@function text-color($type) {
    @return map-get($text-color, $type);
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

$palette: (primary: #FF004D,
    secondary: #BD00FF,

    white: #FFF,
    gray: #888,
    black: #000,
);

$text-color: (primary: get-color(white),
    secondary: get-color(gray),
);

$tablet-width: 768px;
$desktop-width: 1000px;
$padding: 5%;

$gradient: linear-gradient(get-color(primary), get-color(secondary));

@font-face {
    font-family: 'Prabowow';
    src: url('../assets/fonts/Prabowow/prabowow.eot');
    src: url('../assets/fonts/Prabowow/prabowow.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Prabowow/prabowow.woff2') format('woff2'),
        url('../assets/fonts/Prabowow/prabowow.woff') format('woff'),
        url('../assets/fonts/Prabowow/prabowow.ttf') format('truetype'),
        url('../assets/fonts/Prabowow/prabowow.svg#prabowowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: get-color(black);
}

* {
    font-family: 'Roboto', sans-serif;
    color: text-color(primary);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 10vw;

    @include tablet {
        font-size: 8vw;
    }

    @include desktop {
        font-size: 3em;
    }
}

h2 {
    font-size: 8vw;

    @include tablet {
        font-size: 6vw;
    }

    @include desktop {
        font-size: 2.25em;
    }
}

h3 {
    font-size: 4vw;

    @include tablet {
        font-size: 3vw;
    }

    @include desktop {
        font-size: 1.5em;
    }
}

p {
    line-height: 1.1em;
    font-size: 6vw;

    @include tablet {
        font-size: 4vw;
    }

    @include desktop {
        font-size: 1.5em;
    }
}

nav {
    padding: $padding;
    font-size: 5vw;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
}

.button {
    background-color: transparent;
    border: 0.5vw solid get-color(white);
    border-radius: 6vw;

    @include desktop {
        border: 0.1em solid get-color(white);
    }

    a {
        display: table;
        width: 100%;
        height: 100%;
    }

    span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        text-transform: uppercase;
        font-size: 5vw;
        font-weight: bold;
        margin: 0;
        padding: 0.75em 0.5em;
        line-height: 1em;

        @include tablet {
            font-size: 3vw;
        }

        @include desktop {
            font-size: 1em;
        }
    }
}

.wave {
    width: 100%;
    height: 25vw;
    transform: translateY(5px);

    @include desktop {
        height: 10em;
    }
}

.container {
    padding: $padding;

    @include desktop {
        width: 1000px;
        padding: 0;
        margin: 0 auto;
    }
}

.landing {
    background: $gradient;

    h1 {
        width: 85%;
        padding: 0;
        margin: 0 auto;
        line-height: 0.8em;
        font-family: 'Prabowow', sans-serif;
        font-size: 16vw;
    }

    p {
        text-align: center;
    }

    .container {
        padding-top: $padding * 3;
    }

    @include desktop() {
        h1 {
            width: 625px;
            font-size: 8em;
        }

        p {
            max-width: 500px;
            margin: 1em auto;
        }

        .button {
            max-width: 300px;
            margin: 0 auto;
        }

        .container {
            padding-top: 100px;
        }
    }
}

.showcase {
    h1 {
        text-align: center;
    }

    h2 {
        margin: 0 0 5vw 0;
    }

    h3 {
        margin: 0;
    }

    p {
        margin: 5vw 0;
    }

    img {
        width: 100%;
        height: auto;
    }

    .container {
        padding-bottom: 0;
    }

    .button {
        margin: 0 0 0.5em 0;
    }

    #one.project,
    #three.project {
        background: get-color(black);
    }

    #two.project,
    #four.project {
        background: $gradient;
    }

    @include desktop {
        .container {
            display: grid;
            grid-template-areas:
                "preview title"
                "preview description"
                "preview links"
            ;
            grid-template-columns: 500px 500px;
            grid-template-rows: 100px 225px 75px;
        }

        .project-title {
            grid-area: title;
            height: 100%;
        }

        .project-preview {
            grid-area: preview;
            height: 100%;
            display: flex;            
            align-items: center;      
            justify-content: center;
        }

        .project-description {
            grid-area: description;
            height: 100%;
        }

        .project-links {
            grid-area: links;
            height: 100%;
        }

        .buttons {
            display: flex;
        }

        .button {
            width: 200px;
            margin: 0 1em 0 0;
        }

        h2 {
            margin: 0;
        }

        p {
            margin: 0;
        }

        img {
            width: calc(100% - 50px);
            height: auto;
            padding: 25px;
        }
    }
}

.footer {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    span {
        font-size: 4vw;
        color: #A6ACCD;
    }

    a {
        font-size: 4vw;
    }

    .blue {
        color: #89DDFF;
    }

    .yellow {
        color: #FFC66B;
    }

    .purple {
        color: #C790DF;
    }

    .red {
        color: #FF5370;
    }

    .green {
        color: #C3DF6E;
        text-decoration: underline;
    }

    .tab {
        padding: 0 0 0 2em;
    }

    footer {
        width: 97%;
        margin: 0 auto;
        padding: 2em 0;
    }

    @include desktop {
        span {
            font-size: 1.5em;
        }

        a {
            font-size: 0.6em;
        }

        footer {
            width: 475px;
            padding: 4em 0;
        }
    }
}