@font-face {
  font-family: 'Prabowow';
  src: url("../assets/fonts/Prabowow/prabowow.eot");
  src: url("../assets/fonts/Prabowow/prabowow.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Prabowow/prabowow.woff2") format("woff2"), url("../assets/fonts/Prabowow/prabowow.woff") format("woff"), url("../assets/fonts/Prabowow/prabowow.ttf") format("truetype"), url("../assets/fonts/Prabowow/prabowow.svg#prabowowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #000;
}

* {
  font-family: 'Roboto', sans-serif;
  color: #FFF;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 10vw;
}

@media (min-width: 768px) {
  h1 {
    font-size: 8vw;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 8vw;
}

@media (min-width: 768px) {
  h2 {
    font-size: 6vw;
  }
}

@media (min-width: 1000px) {
  h2 {
    font-size: 2.25em;
  }
}

h3 {
  font-size: 4vw;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3vw;
  }
}

@media (min-width: 1000px) {
  h3 {
    font-size: 1.5em;
  }
}

p {
  line-height: 1.1em;
  font-size: 6vw;
}

@media (min-width: 768px) {
  p {
    font-size: 4vw;
  }
}

@media (min-width: 1000px) {
  p {
    font-size: 1.5em;
  }
}

nav {
  padding: 5%;
  font-size: 5vw;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  background-color: transparent;
  border: 0.5vw solid #FFF;
  border-radius: 6vw;
}

@media (min-width: 1000px) {
  .button {
    border: 0.1em solid #FFF;
  }
}

.button a {
  display: table;
  width: 100%;
  height: 100%;
}

.button span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: bold;
  margin: 0;
  padding: 0.75em 0.5em;
  line-height: 1em;
}

@media (min-width: 768px) {
  .button span {
    font-size: 3vw;
  }
}

@media (min-width: 1000px) {
  .button span {
    font-size: 1em;
  }
}

.wave {
  width: 100%;
  height: 25vw;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

@media (min-width: 1000px) {
  .wave {
    height: 10em;
  }
}

.container {
  padding: 5%;
}

@media (min-width: 1000px) {
  .container {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
  }
}

.landing {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF004D), to(#BD00FF));
  background: linear-gradient(#FF004D, #BD00FF);
}

.landing h1 {
  width: 82vw;
  padding: 0;
  margin: 0 auto;
  line-height: 0.8em;
  font-family: 'Prabowow', sans-serif;
  font-size: 16vw;
}

.landing p {
  text-align: center;
}

.landing .container {
  padding-top: 15%;
}

@media (min-width: 1000px) {
  .landing h1 {
    width: 625px;
    font-size: 8em;
  }
  .landing p {
    max-width: 500px;
    margin: 1em auto;
  }
  .landing .button {
    max-width: 300px;
    margin: 0 auto;
  }
  .landing .container {
    padding-top: 100px;
  }
}

.showcase h1 {
  text-align: center;
}

.showcase h2 {
  margin: 0 0 5vw 0;
}

.showcase h3 {
  margin: 0;
}

.showcase p {
  margin: 5vw 0;
}

.showcase img {
  width: 100%;
  height: auto;
}

.showcase .container {
  padding-bottom: 0;
}

.showcase .button {
  margin: 0 0 0.5em 0;
}

.showcase #one.project,
.showcase #three.project {
  background: #000;
}

.showcase #two.project,
.showcase #four.project {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF004D), to(#BD00FF));
  background: linear-gradient(#FF004D, #BD00FF);
}

@media (min-width: 1000px) {
  .showcase .container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "preview title" "preview description" "preview links";
    -ms-grid-columns: 500px 500px;
        grid-template-columns: 500px 500px;
    -ms-grid-rows: 100px 225px 75px;
        grid-template-rows: 100px 225px 75px;
  }
  .showcase .project-title {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: title;
    height: 100%;
  }
  .showcase .project-preview {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: preview;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .showcase .project-description {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: description;
    height: 100%;
  }
  .showcase .project-links {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: links;
    height: 100%;
  }
  .showcase .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .showcase .button {
    width: 200px;
    margin: 0 1em 0 0;
  }
  .showcase h2 {
    margin: 0;
  }
  .showcase p {
    margin: 0;
  }
  .showcase img {
    width: calc(100% - 50px);
    height: auto;
    padding: 25px;
  }
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer span {
  font-size: 4vw;
  color: #A6ACCD;
}

.footer a {
  font-size: 4vw;
}

.footer .blue {
  color: #89DDFF;
}

.footer .yellow {
  color: #FFC66B;
}

.footer .purple {
  color: #C790DF;
}

.footer .red {
  color: #FF5370;
}

.footer .green {
  color: #C3DF6E;
  text-decoration: underline;
}

.footer .tab {
  padding: 0 0 0 2em;
}

.footer footer {
  width: 95vw;
  margin: 0 auto;
  padding: 2em 0;
}

@media (min-width: 1000px) {
  .footer span {
    font-size: 1.5em;
  }
  .footer a {
    font-size: 0.6em;
  }
  .footer footer {
    width: 475px;
    padding: 4em 0;
  }
}
/*# sourceMappingURL=main.css.map */