@function get-color($color) {
    @return map-get($palette, $color);
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

$palette: (primary: #FF004D,
    secondary: #BD00FF,
);

$tablet-width: 768px;
$desktop-width: 950px;
$mobile-margin: 5%;
$desktop-margin: 50px;
$gradient: linear-gradient(get-color(primary), get-color(secondary));

@font-face {
    font-family: 'Prabowow';
    src: url('../assets/fonts/Prabowow/prabowow.eot');
    src: url('../assets/fonts/Prabowow/prabowow.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Prabowow/prabowow.woff2') format('woff2'),
        url('../assets/fonts/Prabowow/prabowow.woff') format('woff'),
        url('../assets/fonts/Prabowow/prabowow.ttf') format('truetype'),
        url('../assets/fonts/Prabowow/prabowow.svg#prabowowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: black;
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 10vw;

    @include tablet {
        font-size: 8vw;
    }

    @include desktop {
        font-size: 3em;
    }
}

h2 {
    font-size: 8vw;

    @include tablet {
        font-size: 6vw;
    }

    @include desktop {
        font-size: 2.25em;
    }
}

h3 {
    font-size: 4vw;

    @include tablet {
        font-size: 3vw;
    }

    @include desktop {
        font-size: 1.5em;
    }
}

p {
    line-height: 1.1em;
    font-size: 6vw;

    @include tablet {
        font-size: 4vw;
    }

    @include desktop {
        font-size: 1em;
    }
}

.button {
    background-color: transparent;
    border: 0.5vw solid white;
    border-radius: 6vw;

    @include desktop {
        border: 0.1em solid white;
    }

    a {
        display: table;
        width: 100%;
        height: 100%;
        text-decoration: none;

        span {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            text-transform: uppercase;
            font-size: 5vw;
            font-weight: bold;
            color: white;
            margin: 0;
            padding: 0.75em 0.5em;
            line-height: 1em;

            @include tablet {
                font-size: 3vw;
            }

            @include desktop {
                font-size: 1em;
            }
        }
    }
}

.landing {
    width: 100%;
    color: white;
    background: $gradient;

    nav {
        padding: $mobile-margin $mobile-margin 0 $mobile-margin;

        @include desktop() {
            padding: 50px;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            font-size: 5vw;

            @include tablet {
                font-size: 3vw;
            }

            @include desktop() {
                font-size: 1.5em;
            }
        }
    }

    main {
        margin: 0 $mobile-margin 0 $mobile-margin;
        padding: 5vh 0 0 0;
        line-height: 15vw;

        h1 {
            font-family: 'Prabowow', sans-serif;
            margin: 0;
            font-size: 16vw;
            padding: 0 0 0 3%;

            @include desktop() {
                font-size: 5em;
                line-height: 0.8em;
                padding: 0;
            }
        }

        @include desktop() {
            line-height: 4.5vw;
            padding: 0 0 0 0;
            margin: -2vw auto 0 auto;
            max-width: 440px;

            .button {
                max-width: 200px;
                margin: 0 auto;
            }

            p {
                text-align: center;
            }
        }
    }

    .developer {
        font-size: 17vw;

        @include desktop() {
            font-size: 5.25em;
        }
    }

    .wave {
        width: 100%;
        height: 10vh;
        z-index: -1;
    }
}

.projects {
    width: 100%;
    color: white;

    h1 {
        margin: $mobile-margin $mobile-margin 0 $mobile-margin;

        @include desktop {
            text-align: center;
        }
    }

    .container-entry {
        background: $gradient;
    }

    .container-entry.black {
        background: black;
    }

    .container-entry {
        .wave {
            width: 100%;
            height: 10vh;
            position: block;
            z-index: 1;
    
            @include desktop {
                height: 100px;
                display: float;
            }
        }
    }

    .project-entry {
        padding: $mobile-margin 0 0 0;

        @include desktop {
            display: grid;
            grid-template-areas:
                "preview title"
                "preview info"
                "preview button";

            margin: 0;
            padding: 2em calc((100% - 960px) / 2) 0;

            width: 900px;
            height: 375px;
            grid-template-columns: 500px 400px;
            grid-template-rows: 100px 175px 100px;
        }

        .title {
            @include desktop {
                grid-area: title;
            }
        }

        h2 {
            margin: 0 $mobile-margin $mobile-margin $mobile-margin;

            @include desktop {
                margin: 0;
                padding: 0;
            }
        }

        h3 {
            margin: 0 $mobile-margin;

            @include desktop {
                margin: 0;
                padding: 0;
            }
        }

        p {
            padding: $mobile-margin;

            @include desktop {
                grid-area: info;
                display: inline-block;
                width: 400px;
                padding: 0;
                margin: 0;
            }
        }

        .project-preview {
            display: table;
            margin: 0 $mobile-margin;

            @include desktop {
                grid-area: preview;
                padding: 0;
                margin: 0;
            }

            img {
                width: 90vw;
                height: auto;
                display: table-cell;
                vertical-align: middle;

                @include desktop {
                    width: calc(100% - 100px);
                    padding: 50px;
                    margin: 0 0 0 0;
                }
            }
        }

        .button {
            width: 90vw - 1vw;
            margin: 0 auto 3vw auto;

            @include desktop {
                grid-area: button;
                padding: 0;
                margin: 0 0.7em 0 0;
                width: 9em;
                height: 2em;
                float: left;

                span {
                    font-size: 0.8em;
                }
            }
        }
    }


}

.footer {
    background-color: black;
    padding: $mobile-margin * 2 0 $mobile-margin * 2 0;
    @include desktop() {
        padding: 5em 0;
    }

    footer {
        color: white;

        font-weight: bold;
        text-align: left;

        span {
            font-size: 4vw;
            color: #A6ACCD;

            @include tablet {
                font-size: 3vw;
            }

            @include desktop() {
                font-size: 1.25em;
            }
        }

        .blue {
            color: #89DDFF;
        }

        .yellow {
            color: #FFC66B;
        }

        .reserved {
            color: #C790DF;
        }

        .this {
            color: #FF5370;
        }

        .string {
            color: #C3DF6E;
            text-decoration: underline;
        }

        .tab {
            padding: 0 0 0 2em;
        }

        ul {
            list-style: none;

            padding: 0 $mobile-margin;            

            @include desktop() {
                width: 600px;
                margin: 0 auto;
            }
        }

        a {
            text-decoration: none;
            color: white;

            @include desktop() {
                font-size: 0.75em;
            }
        }
    }
}