@font-face {
  font-family: 'Prabowow';
  src: url("../assets/fonts/Prabowow/prabowow.eot");
  src: url("../assets/fonts/Prabowow/prabowow.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Prabowow/prabowow.woff2") format("woff2"), url("../assets/fonts/Prabowow/prabowow.woff") format("woff"), url("../assets/fonts/Prabowow/prabowow.ttf") format("truetype"), url("../assets/fonts/Prabowow/prabowow.svg#prabowowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1 {
  font-size: 10vw;
}

@media (min-width: 768px) {
  h1 {
    font-size: 8vw;
  }
}

@media (min-width: 950px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 8vw;
}

@media (min-width: 768px) {
  h2 {
    font-size: 6vw;
  }
}

@media (min-width: 950px) {
  h2 {
    font-size: 2.25em;
  }
}

h3 {
  font-size: 4vw;
}

@media (min-width: 768px) {
  h3 {
    font-size: 3vw;
  }
}

@media (min-width: 950px) {
  h3 {
    font-size: 1.5em;
  }
}

p {
  line-height: 1.1em;
  font-size: 6vw;
}

@media (min-width: 768px) {
  p {
    font-size: 4vw;
  }
}

@media (min-width: 950px) {
  p {
    font-size: 1em;
  }
}

.button {
  background-color: transparent;
  border: 0.5vw solid white;
  border-radius: 6vw;
}

@media (min-width: 950px) {
  .button {
    border: 0.1em solid white;
  }
}

.button a {
  display: table;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.button a span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  font-size: 5vw;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0.75em 0.5em;
  line-height: 1em;
}

@media (min-width: 768px) {
  .button a span {
    font-size: 3vw;
  }
}

@media (min-width: 950px) {
  .button a span {
    font-size: 1em;
  }
}

.landing {
  width: 100%;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF004D), to(#BD00FF));
  background: linear-gradient(#FF004D, #BD00FF);
}

.landing nav {
  padding: 5% 5% 0 5%;
}

@media (min-width: 950px) {
  .landing nav {
    padding: 50px;
  }
}

.landing nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 5vw;
}

@media (min-width: 768px) {
  .landing nav a {
    font-size: 3vw;
  }
}

@media (min-width: 950px) {
  .landing nav a {
    font-size: 1.5em;
  }
}

.landing main {
  margin: 0 5% 0 5%;
  padding: 5vh 0 0 0;
  line-height: 15vw;
}

.landing main h1 {
  font-family: 'Prabowow', sans-serif;
  margin: 0;
  font-size: 16vw;
  padding: 0;
}

@media (min-width: 950px) {
  .landing main h1 {
    font-size: 5em;
    line-height: 0.8em;
    padding: 0;
  }
}

@media (min-width: 950px) {
  .landing main {
    line-height: 4.5vw;
    padding: 0 0 0 0;
    margin: -2vw auto 0 auto;
    max-width: 440px;
  }
  .landing main .button {
    max-width: 200px;
    margin: 0 auto;
  }
  .landing main p {
    text-align: center;
  }
}

.landing .developer {
  font-size: 17vw;
}

@media (min-width: 950px) {
  .landing .developer {
    font-size: 5.25em;
  }
}

.landing .wave {
  width: 100%;
  height: 10vh;
  z-index: -1;
}

.projects {
  width: 100%;
  color: white;
}

.projects h1 {
  margin: 5% 5% 0 5%;
}

@media (min-width: 950px) {
  .projects h1 {
    text-align: center;
  }
}

.projects .container-entry {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF004D), to(#BD00FF));
  background: linear-gradient(#FF004D, #BD00FF);
}

.projects .container-entry.black {
  background: black;
}

.projects .container-entry .wave {
  width: 100%;
  height: 10vh;
  position: block;
  z-index: 1;
}

@media (min-width: 950px) {
  .projects .container-entry .wave {
    height: 100px;
    display: float;
  }
}

.projects .project-entry {
  padding: 5% 0 0 0;
}

@media (min-width: 950px) {
  .projects .project-entry {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "preview title" "preview info" "preview button";
    margin: 0;
    padding: 2em calc((100% - 960px) / 2) 0;
    width: 900px;
    height: 375px;
    -ms-grid-columns: 500px 400px;
        grid-template-columns: 500px 400px;
    -ms-grid-rows: 100px 175px 100px;
        grid-template-rows: 100px 175px 100px;
  }
}

@media (min-width: 950px) {
  .projects .project-entry .title {
    grid-area: title;
  }
}

.projects .project-entry h2 {
  margin: 0 5% 5% 5%;
}

@media (min-width: 950px) {
  .projects .project-entry h2 {
    margin: 0;
    padding: 0;
  }
}

.projects .project-entry h3 {
  margin: 0 5%;
}

@media (min-width: 950px) {
  .projects .project-entry h3 {
    margin: 0;
    padding: 0;
  }
}

.projects .project-entry p {
  padding: 5%;
}

@media (min-width: 950px) {
  .projects .project-entry p {
    grid-area: info;
    display: inline-block;
    width: 400px;
    padding: 0;
    margin: 0;
  }
}

.projects .project-entry .project-preview {
  display: table;
  margin: 0 5%;
}

@media (min-width: 950px) {
  .projects .project-entry .project-preview {
    grid-area: preview;
    padding: 0;
    margin: 0;
  }
}

.projects .project-entry .project-preview img {
  width: 90vw;
  height: auto;
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 950px) {
  .projects .project-entry .project-preview img {
    width: calc(100% - 100px);
    padding: 50px;
    margin: 0 0 0 0;
  }
}

.projects .project-entry .button {
  width: 89vw;
  margin: 0 auto 3vw auto;
}

@media (min-width: 950px) {
  .projects .project-entry .button {
    grid-area: button;
    padding: 0;
    margin: 0 0.7em 0 0;
    width: 9em;
    height: 2em;
    float: left;
  }
  .projects .project-entry .button span {
    font-size: 0.8em;
  }
}

.footer {
  background-color: black;
  padding: 10% 0 10% 0;
}

@media (min-width: 950px) {
  .footer {
    padding: 5em 0;
  }
}

.footer footer {
  color: white;
  font-weight: bold;
  text-align: left;
}

.footer footer span {
  font-size: 4vw;
  color: #A6ACCD;
}

@media (min-width: 768px) {
  .footer footer span {
    font-size: 3vw;
  }
}

@media (min-width: 950px) {
  .footer footer span {
    font-size: 1.25em;
  }
}

.footer footer .blue {
  color: #89DDFF;
}

.footer footer .yellow {
  color: #FFC66B;
}

.footer footer .reserved {
  color: #C790DF;
}

.footer footer .this {
  color: #FF5370;
}

.footer footer .string {
  color: #C3DF6E;
  text-decoration: underline;
}

.footer footer .tab {
  padding: 0 0 0 2em;
}

.footer footer ul {
  list-style: none;
  padding: 0 5%;
}

@media (min-width: 950px) {
  .footer footer ul {
    width: 600px;
    margin: 0 auto;
  }
}

.footer footer a {
  text-decoration: none;
  color: white;
}

@media (min-width: 950px) {
  .footer footer a {
    font-size: 0.75em;
  }
}
/*# sourceMappingURL=main.css.map */