@import "./functions.scss";

$palette: (white: #fff,
  gray: #8a8a8a,
  darkgray: #242424,
  black: #000,
  red: #ff004d,
  purple: #bd00ff);

$text-color: (primary: get-color(white),
  secondary: get-color(gray),
);

@font-face {
  font-family: 'Prabowow';
  src: url('/fonts/Prabowow/prabowow.eot');
  src: url('/fonts/Prabowow/prabowow.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Prabowow/prabowow.woff2') format('woff2'),
    url('/fonts/Prabowow/prabowow.woff') format('woff'),
    url('/fonts/Prabowow/prabowow.ttf') format('truetype'),
    url('/fonts/Prabowow/prabowow.svg#prabowowregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  --container-margin: 1em;
  --tablet-width: 500px;
  --desktop-width: 1000px;
}

$container-margin: 1em;
$tablet-width: 500px;
$desktop-width: 1000px;

$gradient-background: linear-gradient(get-color(red),
  get-color(purple));